# <center> Entrega do Modelo

<p style='text-align: justify;'> O objetivo desta seção é apresentar a função final_model que nos permite obter previsões com base em um modelo XGB treinado em todas as 466 amostras do dataset. Além disso também são apresentados alguns exemplos de como usar a função.

In [1]:
# Algumas importações básicas

import pandas as pd
import numpy as np
from xgboost import XGBClassifier
from sklearn.preprocessing import StandardScaler

In [2]:
def final_model():
    """Utiliza um modelo XGB treinado no dataset de 466 amostras inteiro para fazer previsões. Basta ao usuário chamar a
    função e preencher os valores que ele desejar para feature0, feature1, ..., feature15. Após isso a função retornará
    a previsão do modelo para o target correspondente aos valores preenchidos."""
    
    # Solicitando ao usuário que entre com os valores das features
    
    feature0 = float(input('feature0 :'))
    feature1 = float(input('feature1 :'))
    feature2 = float(input('feature2 :'))
    feature3 = float(input('feature3 :'))
    feature4 = float(input('feature4 :'))
    feature5 = float(input('feature5 :'))
    feature6 = float(input('feature6 :'))
    feature7 = float(input('feature7 :'))
    feature8 = float(input('feature8 :'))
    feature9 = float(input('feature9 :'))
    feature10 = float(input('feature10 :'))
    feature11 = float(input('feature11 :'))
    feature12 = float(input('feature12 :'))
    feature13 = float(input('feature13 :'))
    feature14 = float(input('feature14 :'))
    feature15 = float(input('feature15 :'))
    
    # Guardando os valore das features
    
    features = [[feature0, feature1, feature2, feature3, feature4, feature5, feature5, feature7, feature8, feature9,
                feature10, feature11, feature12, feature13, feature14, feature15]]

    # Lendo o arquivo
    df = pd.read_parquet('dataset_cdjr.parquet.gzip' , engine = 'pyarrow')
    
    # Separando em X e target para treinar o modelo
    
    X = np.array(df.drop(['target'] , axis = 1))
    target = np.array(df['target'])
    
    # Feature Scaling
    SS = StandardScaler()
    SS.fit(X)
    X_transformada = SS.transform(X)
    features_transformada = SS.transform(features) 
    
    # Instanciando e treinando o modelo
    model = XGBClassifier(n_estimators = 500 , learning_rate = 0.5 , max_depth = 6 , use_label_encoder = False)
    model.fit(X_transformada, target)
    
    # Fazendo previsões
    predictions = model.predict(features_transformada)
    
    return predictions

## <center> Exemplo de como usar a função final_model

In [3]:
# Lendo o conjunto de dados e transformando o mesmo em um dataframe

df = pd.read_parquet('dataset_cdjr.parquet.gzip' , engine = 'pyarrow')

In [4]:
# Observando as 5 primeiras linhas do dataframe

df.head()

,feature0,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,feature11,feature12,feature13,feature14,feature15,target
337,200.0,2,662.28,39.10,-188.55,0.246978,761,0.004548,3.523703,167326,33441.06,0.019804,26.850,0.009198,94.611429,7,0
266,150.0,2,0.00,149.55,-0.45,0.150000,3,0.037975,0.000000,79,78.93,0.000000,0.000,0.000000,0.000000,0,1
236,50.0,1,346.08,30.41,-102.10,2.430952,42,0.004239,3.389618,9907,18858.77,0.018351,25.525,0.095238,86.520000,4,0
274,100.0,2,0.00,43.84,-56.16,0.150968,372,0.005854,0.000000,63544,1164.11,0.000000,0.000,0.000000,0.000000,0,1
208,50.0,1,87.56,-3.05,-94.50,0.412664,229,0.004572,0.926561,50089,1786.26,0.049019,94.500,0.004367,87.560000,1,0

<p style='text-align: justify;'> Repare que a primeira linha do dataframe possui target = 0 . Vamos então chamar nossa função final_model e inserir os valores correspondentes das features para verificarmos que a saída da nossa função prevê corretamente:

In [5]:
final_model()

feature0 :200
feature1 :2
feature2 :662.28
feature3 :39.10
feature4 :-188.55
feature5 :0.246978
feature6 :761
feature7 :0.004548
feature8 :3.523703
feature9 :167326
feature10 :33441.06
feature11 :0.019804
feature12 :26850
feature13 :0.009198
feature14 :94.611429
feature15 :7
[07:07:35] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

array([0])

Perfeito ! O nosso modelo prevê corretamente o alvo !

A segunda linha do dataframe possui target = 1 . Vamos verificar se nossa função final_model acerta novamente :

In [6]:
final_model()

feature0 :150
feature1 :2
feature2 :0
feature3 :149.55
feature4 :-0.45
feature5 :0.15
feature6 :3
feature7 :0.037975
feature8 :0
feature9 :79
feature10 :78.93
feature11 :0
feature12 :0
feature13 :0
feature14 :0
feature15 :0
[07:10:19] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

array([1])

Acertamos novamente !

## <center> Conclusão

<p style='text-align: justify;'> Conforme mostrado no notebook Desafio Técnico - Cientista de Dados - Americanas S.A..ipynb presente no repositório um modelo XGB treinado em todo o dataset de 466 amostras possui acurácia de 100% quando são feitas previsões no próprio conjunto de treino. Isso quer dizer que o modelo acerta o alvo para todas as 466 amostras !

<p style='text-align: justify;'>Portanto, não é novidade nossa função final_model prever corretamente as duas primeiras linhas do dataframe. Em particular, ela prevê corretamente todas as linhas do dataframe, ou seja, todas as amostras !

<p style='text-align: justify;'> Por fim, concluo dizendo que para dados não vistos, isto é, para qualquer outra amostra diferente das 466 do conjunto de treino a história é um pouco diferente ! Segundo nossa validação cruzada é esperado que tenhamos uma probabilidade de acerto de aproximadamente 68% .